@media only screen and (max-width: 480px) {
    /*body { background-color: gray; }*/
    p { font-size: 0.5em; }
    h1 { font-size: 1em; }
    a { font-size: .75em; }
    h4 { font-size: 1em }
	}
@media only screen and (min-width: 481px) {
    /*body { background-color: black; }*/
    p { font-size: 1em; }
    h1 { font-size: 2em; }
    a { font-size: 1em; }
    h4 { font-size: 1.5em }
	}
@media only screen and (min-width: 1024px) {
 /*   body { background-color: black; }*/
    p { font-size: 1em; }
    h1 { font-size: 3em; }
    a { font-size: 1.25em; }
    h4 { font-size: 2.25em }
	}
    
body {
    background-color: #2C2D2E;
    margin: 0 auto;
    text-align: center;
}

#nav_bar a {
    color: yellow;
}

#nav_bar {
    margin: 0 auto;
    margin-bottom: 1.5%;
    /*position: fixed;*/
}
